html,body,#map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px
}

/* Swipe works with mouse as well but often causes text selection. */
/* We'll deny text selecton on everything but INPUTs and TEXTAREAs. */
#demo-page :not(INPUT):not(TEXTAREA) {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
/* Content styling. */
dl {
	font-family: "Times New Roman", Times, serif;
	padding: 1em;
}

dt {
	font-size: 2em;
	font-weight: bold;
}

dt span {
	font-size: .5em;
	color: #777;
	margin-left: .5em;
}

dd {
	font-size: 1.25em;
	margin: 1em 0 0;
	padding-bottom: 1em;
	border-bottom: 1px solid #eee;
}

.back-btn {
	float: right;
	margin: 0 2em 1em 0;
}

*{
    margin:0;
    padding:0;
}

/* Above, the asterisk selects all elements in the HTML document and rests the margin and padding. This ensures that any of the annoying "default" margin and paddings a browser might have will be reset to zero. */

.noti_bubble {
    position:absolute;    /* This breaks the div from the normal HTML document. */
    top: -6px;
    right:-6px;
    padding:1px 2px 1px 2px;
    background-color:red; /* you could use a background image if you'd like as well */
    color:white;
    font-weight:bold;
    font-size:0.55em;

    /* The following is CSS3, but isn't crucial for this technique to work. */
    /* Keep in mind that if a browser doesn't support CSS3, it's fine! They just won't have rounded borders and won't have a box shadow effect. */
    /* You can always use a background image to produce the same effect if you want to, and you can use both together so browsers without CSS3 still have the rounded/shadow look. */
    border-radius:40px;
    box-shadow:1px 1px 1px gray;
}

.count {
    background:#ff0000;
    position: absolute; 
    top: 5px;
    Right: 8px;
    min-width:14px;
    height: 14px;
    color:#ffffff;
    border-radius: 50%;
    padding: 2px;
    text-align: center;
    font-size: 12px;
}